*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
    text-decoration: none;
}

body{
    background: #f5f5f5;
}

ol,ul{
    list-style: none;
}

.header .navbar.navbar-default{
    background: #333;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:#1d1d1d;
}

.container{
    width: 80%;
    background: #fff;
    border-radius: 3px;
    padding: 50px;
}

.artilce_content{



}
.artilce_content .article_content_left{
     width: 80%;
     float: left;
     height: 500px;
}

.artilce_content .article_content_left form{

}

.artilce_content .article_content_left form div:nth-child(1){

}

.artilce_content .article_content_left form div:nth-child(1) input{
     border: none;
     width: 100%;
     border-bottom: 1px solid #ccc;
     outline: none;
     -webkit-appearance: none;
     font-size: 22px;
     padding-left: 20px;
     padding-bottom: 5px;
}

.artilce_content .article_content_left form div:nth-child(2){
     margin-top: 20px;
}


.artilce_content .article_content_right{
     width: 15%;
     float: right;
     margin-left: 5%;
     height: 500px;

}

.w-e-text{
    margin-top: -20px;
}

.article_content_right a{
    height: 40px;
    line-height: 40px;
    background: #0cb762;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    border-radius: 3px;
}

.dropdown-menu{
    padding: 0;
}
.dropdown-menu li a{
    background: #333;
    color: #fff;
    padding: 9px 20px;
}