*{
     margin: 0;
     padding: 0;
}

a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
    text-decoration: none;
}

body{
    background: #f5f5f5;
}

ol,ul{
     list-style: none;
}

.header .navbar.navbar-default{
    background: #333;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:#1d1d1d;
}

.container{
      width: 80%;
}

.container .img_list{

}
.container .img_list ul{
     overflow: hidden;
}
.container .img_list ul li{
     width: 31.333%;
     float: left;
     height: 100px;
     margin-right: 3%;
     text-align: center;
     line-height: 100px;
}
.container .img_list ul li:nth-child(1){
     background: rgba(146, 210, 195, 0.62);
}
.container .img_list ul li:nth-child(1):hover{
     background: #0cb762;
}
.container .img_list ul li:nth-child(2){
    background: #78b3d2;

}
.container .img_list ul li:nth-child(2):hover{
    background: #00b3ee;
}
.container .img_list ul li:nth-child(3){
    margin-right: 0;
    background: rgba(210, 138, 29, 0.34);
}

.container .img_list ul li:nth-child(3):hover{
    background: #d2b631;
}

.container .img_list ul li a{

}
.container .img_list ul li a img{

}

.notice_list{
     background: #fff;
     box-shadow: 1px 1px 1px #ccc;
     border: 1px solid #f5f5f5;
}
.notice_list h3{
     font-weight: normal;
     padding-left: 5%;
     padding-bottom: 10px;
     font-size: 24px;

}
.notice_list .line{
     border-bottom: 1px solid #999;
     width: 90%;
     margin: 0 auto;
}
.notice_list ul{

}
.notice_list ul li{
     border-bottom: 1px solid #f5f5f5;
     width: 90%;
     margin: 0 auto;
     height: 36px;
     line-height: 36px;
     color: #666;
     font-size: 12px;
}
.notice_list ul li p{

}
.dropdown-menu{
    padding: 0;
}
.dropdown-menu li a{
    background: #333;
    color: #fff;
    padding: 9px 20px;
}

.sousuo{
    width: 380px;
    height: 30px;
    margin-left: 500px;
    margin-bottom: 5px;
}

.sousuo_chao{
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.downloadd{
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
    display: none;
}

.usedown{
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
    display: inline-block;
}
.buyy{
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
}
.trancopyright{
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
}

.revoketran{
    width: 60px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
}
.ok{
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
}
.no{
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
}
